<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Figures_Artist>
            <version>0.0.3</version>
        </Figures_Artist>
    </modules>
    <global>
        <blocks>
            <figures_artist>
                <class>Figures_Artist_Block</class>
            </figures_artist>
        </blocks>
        <models>
            <figures_artist>
                <class>Figures_Artist_Model</class>
                <resourceModel>figures_artist_mysql4</resourceModel>
            </figures_artist>
            <figures_artist_mysql4>
                <class>Figures_Artist_Model_Mysql4</class>
                <entities>
                    <artist>
                        <table>artist_work</table>
                    </artist>
                </entities>
            </figures_artist_mysql4>
        </models>
        <helpers>
            <figures_artist>
                <class>Figures_Artist_Helper</class>
            </figures_artist>
        </helpers>
        <resources>
            <figures_artist_setup>
                <setup>
                    <module>Figures_Artist</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </figures_artist_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <figures_artist>
                <use>standard</use>
                <args>
                    <module>Figures_Artist</module>
                    <frontName>figures_artist</frontName>
                </args>
            </figures_artist>
        </routers>
        <layout>
            <updates>
                <figures_artist>
                    <file>figures_artist.xml</file>
                </figures_artist>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <figures_artist module="figures_artist">
                <title>Artist</title>
                <sort_order>71</sort_order>
                <children>
                    <workshop module="figures_artist">
                        <title>Workshop</title>
                        <sort_order>1</sort_order>
                        <action>adminhtml/artist_workshop</action>
                    </workshop>
                </children>
            </figures_artist>
        </menu>
        <layout>
            <updates>
                <figures_artist>
                    <file>figures/artist.xml</file>
                </figures_artist>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Figures_Artist before="Mage_Adminhtml">Figures_Artist_Adminhtml</Figures_Artist>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>