<?xml version="1.0"?>
<config>
    <modules>
        <Figures_Dashboard>
            <version>0.1.0</version>
        </Figures_Dashboard>
    </modules>
    <global>
        <blocks>
            <figures_dashboard>
                <class>Figures_Dashboard_Block</class>
            </figures_dashboard>
        </blocks>
        <helpers>
            <figures_dashboard>
                <class>Figures_Dashboard_Helper</class>
            </figures_dashboard>
        </helpers>
    </global>
    <frontend>
        <routers>
            <figures_dashboard>
                <use>standard</use>
                <args>
                    <frontName>figures_dashboard</frontName>
                    <module>Figures_Dashboard</module>
                </args>
            </figures_dashboard>
        </routers>
        <layout>
            <updates>
                <figures_dashboard>
                    <file>figures_dashboard.xml</file>
                </figures_dashboard>
            </updates>
        </layout>
    </frontend>
</config>