html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a, h1, h2, h3, h4, h5, span, p, li {
  font-family: 'Open Sans', sans-serif; }

main {
  padding-bottom: 60px;
  padding-top: 60px; }

main h2 {
  font-size: 25px;
  margin: 0; }

main li {
  line-height: 1.5em;
  padding-bottom: 2%; }

main p {
  font-size: 12px;
  margin: 0; }

main button {
  width: 50%; }

.catalogue {
  border-bottom: 1px solid #f2f2f6;
  box-shadow: 0 4px 2px -2px #f2f2f6;
}

main .list-inline a {
  padding-right: 15px; }

main .product-author p {
  text-indent: 15px; }

main .product-author button {
  padding: 0;
  width: 100px;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 10px; }

main .product-author img {
  width: 100%;
  height: 100px;
  border-radius: .25em; }

main .product-author h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0; }

main .product-author span {
  color: darkgray;
  font-size: 11px; }

main .product-author li {
  padding: 0;
  line-height: 1em; }

main .product-type {
  color: darkgray; }

main .product-quality {
  font-size: 12px;
  margin-left: 30px; }

main .product-price {
  font-weight: bold;
  text-align: center;
  font-size: 25px; }

main .product-buy {
  text-align: center;
  padding: 0; }
main .product-buy button {
  width: 200px; }

main .product-delivery {
  text-align: center; }
main .product-delivery span {
  color: #000;
  font-size: 11px; }

main .product-like {
  text-align: center; }
main .product-like span {
  font-size: 15px; }

main .product-to-price {
  background: #f2f2f6;
  padding: 15px; }

main .product-design {
  padding: 30px 0; }
main .product-design h2 {
  text-align: center;
  padding-bottom: 30px; }
main .product-design .item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
main .product-design img {
  width: 100%;
  max-height: 150px;
  margin: 0 auto;
  display: block; }
main .product-design h3 {
  font-size: 15px;
  font-weight: bold;
  padding-top: 10px; }

.icon-rotate {
  transform: rotate(180deg); }

.validation_class {border: 2px solid #dc4165; }

.cont-pad {
  padding-left: 15px;
  padding-right: 15px; }

.pad0 {
  padding: 0; }

.mar0 {
  margin: 0; }

.pads0 {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.required {
  color: red;
  font-size: 12px; }

.login {
  background: #f2f2f6; }
  .login li {
    margin-left: 15px; }

.search i {
  font-size: 20px; }

.search img {
  width: 30px;
  height: 30px; }

.search .navbar-brand {
  padding-left: .5rem;
  padding-bottom: 0; }

.search button {
  border: none; }
  .search button:focus {
    box-shadow: none !important; }

.search .input-group {
  background: #f9f9fb;
  border: none;
  border-radius: .25rem; }
  .search .input-group input {
    background: #f9f9fb;
    border: none;
    box-shadow: none;
    padding-left: 15px;
    padding-top: 5px;}
  .search .input-group button {
    border: none;
    border-radius: 0 5px 5px 0; }

.navbar {
  color: #6c757d; }
  .navbar .navbar-divider {
    border-right: 1px solid darkgray;
    padding-right: 15px; }
  .navbar a {
    color: #6c757d;
    font-size: 14px; }
    .navbar a:hover {
      color: darkgray !important; }

.footer {
  background-color: #313237;
  color: #fff;
  margin-top: 30px;
  padding: 0;
  border:none;}
  .footer .container {
    padding-right: 15px;
    padding-left: 15px;
    background: #313237; }
  .footer p, .footer li {
    line-height: 1.5em; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #fff; }
  .footer h2 {
    text-align: center;
    font-size: 25px;
    padding-bottom: 5%;
    padding-top: 5%;
    color: white;
    text-transform: initial;}
  .footer .footer-above {
    background: #fff;
    padding-bottom: 15px;
    margin: 0;}
    .footer .footer-above .row {
      background: #fff; }
    .footer .footer-above .col-4 {
      text-align: center;
      padding-left: 75px;
      padding-right: 75px; }
    .footer .footer-above li {
      padding-bottom: 15px; }
    .footer .footer-above img {
      width: 75px;
      height: 75px;
      margin: 0 auto;}
    .footer .footer-above h3 {
      padding-top: 15px;
      color: #40354e;
      font-size: 16px;
      font-weight: bold; }
    .footer .footer-above span {
      color: gray;
      font-size: 16px; }
    .footer .footer-above a {
      color: #6c92e3;
      font-size: 16px; }
  .footer .footer-head {
    margin: 0;
    background: #f2f2f6;
    color: #313237;
    font-size: 14px; }
    .footer .footer-head .row {
      padding: 1% 0;
      margin-left: -15px;
      margin-right: -15px; }
    .footer .footer-head span {
      color: darkgray; }
  .footer .form-input {
    padding-bottom: 5%; }
    .footer .form-input button {
      color: #fff;
      background: #ce4c52;
      border: none;
      border-radius: 0 20px 20px 0;
      text-transform: uppercase;
      padding: 10px;
      width: 150px;
      position: relative;
      top: -4px; }
    .footer .form-input input {
      background: #313237;
      color: darkgray;
      width: 400px;
      border: 1px solid darkgray;
      border-radius: 20px 0 0 20px;
      margin: 0;
      display: inline-block;
      padding: 10px 20px;
      height: 42px;}
  .footer .footer-about {
    padding-bottom: 4%;
    display: flex;
    text-transform: uppercase; }
    .footer .footer-about li {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto; }
  .footer .footer-copy a {
    font-size: 14px;
    color: #8c95a5; }
  .footer .footer-copy .list-divider {
    padding-left: 5px; }
    .footer .footer-copy .list-divider:before {
      content: "/";
      padding-right: 10px;
      color: #8c95a5; }

.page-footer {
  background: #313237; }

.btn-transform {
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .btn-transform:hover {
    transform: scale(1.2); }

.btn-floating {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 47px;
  height: 47px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin: 10px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding: 0;
  cursor: pointer; }
  .btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #ffffff;
    line-height: 3.4em; }

.btn-fb {
  background-color: #3b5998 !important; }

.btn-tw {
  background-color: #55acee !important; }

.btn-gplus {
  background-color: #dd4b39 !important; }

.btn-li {
  background-color: #0082ca !important; }

.btn-pint {
  background-color: #ec4a89 !important; }

.text-link {
  color: #4e555b !important; }

.text-tw {
  color: #55acee !important; }

.text-gplus {
  color: #dd4b39 !important; }

.text-li {
  color: #0082ca !important; }

.text-pint {
  color: #ec4a89 !important; }

.text-link {
  color: #4e555b !important; }

.checked {
  color: orange; }

.owl-prev {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -40px;
  margin-left: 0;
  display: block !important;
  border:0 solid black;
}

.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: -40px;
  right: 0;
  display: block !important;
  border:0 solid black;
}
.owl-prev i, .owl-next i {
  transform : scale(1,6);
  color: #ccc;
}
/*======================================================*/

.box > input {
  display: none;
}

.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}

.no-js .inputfile + label {
  display: none;
}

.ws_label {
  display: block!important;
  margin: 0 auto;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.inputfile-5 + label {
  color: #6d7fcc;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
  color: #9654CC;
}

.inputfile-5 + label figure {
  width: 100px;
  height: 135px;
  background-color: #6d7fcc;
  display: block;
  position: relative;
  padding: 30px;
  margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
  background-color: #9654CC;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
}

.inputfile-5 + label figure::before {
  border-top: 20px solid #fff;
  border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
  border-bottom: 20px solid #9654CC;
  border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
  border-bottom-color: #6d7fcc;
}

.inputfile-5 + label svg {
  width: 100%;
  height: 100%;
  fill: #f1e5e6;
}


.account .form-signin {
  background: white;
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: auto; }

.account h1 {
  font-size: 25px;
  font-weight: bolder; }

.account h2 {
  font-size: 15px;
  text-transform: none;}

.account a {
  color: deeppink; }
.account a:hover {
  text-decoration: underline; }

.account input {
  padding: 12px;
  border-radius: 0; }

.account li {
  margin-bottom: 15px; }

.account button {
  font-size: 15px;
  border-radius: 0; }

.account .title {
  overflow: hidden;
  font-size: 15px; }

.account .title:before,
.account .title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 1px;
  background: #f1f1f1;
  border: solid #FFF;
  border-width: 0 10px; }

.account .title:before {
  margin-left: -100%; }

.account .title:after {
  margin-right: -100%; }

.account .remember {
  font-size: 14px;}
.account .remember a {
  font-size: 14px;
  color: #000; }
.account .remember label {
  color: #000;
  font-size: 14px;
  font-weight: unset;
  font-family: inherit;}

.account .contacts a {
  background: #f6f6f9;
  border: none;
  color: #b7bcc3;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 48%; }
.account .contacts a:hover {
  background: #f1f1f1; }


.register .form-signin {
  background: white;
  width: 100%;
  max-width: 660px;
  padding: 15px;
  margin: auto; }

.register h1 {
  font-size: 25px;
  font-weight: bolder; }

.register h2 {
  color: darkgray;
  font-size: 15px;
  font-style: italic; }

.register a {
  color: deeppink; }
.register a:hover {
  text-decoration: underline; }

.register input[type='text'], .register input[type='email'], .register input[type='password'] {
  border-radius: 0;
  height: 40px;
  padding: 12px;
  width: 100%}

.register li {
  margin-bottom: 15px; }

.register button {
  font-size: 15px;
  border-radius: 0; }

.register label {
  font-weight: bold; }

.register .required_field {
  color: deeppink; }
.register .required_field:after {
  content: ' *'; }

.modal_success .modal-body {
  background: #b7e8fa; }

.modal_success .modal-dialog {
  margin: 0;
  margin-left: 80%; }

.modal_success p {
  color: black;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase; }

.modal_success a {
  color: #6d7fcc;
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: underline; }

.modal-backdrop {
  display: none; }







