.design {
    background: #fff;
    padding: 30px;
    margin-bottom: 60px; }
.design h1 {
    color: #6d7fcc;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase; }
.design h3 {
    font-size: 15px;
    display: inline; }
.design h4 {
    font-size: 18px;
    display: inline; }
.design a {
    display: block;
    text-align: center;
    color: deepskyblue; }
.design .dropblock {
    /*margin: 30px 0;*/ }
.design .dropzone {
    border: 3px dashed #666769;
    background: #ecf4f7;
    display: block;
    margin: 0 auto;
    width: 250px;
    min-height: 250px; }
.design .design__dropzone {
    border: 1px solid #4a4a4a;
    margin: 30px 60px;
    padding: 0; }
.design .design__dropzone h2 {
    text-transform: uppercase;
    font-size: 16px;
    display: inline;
    font-weight: bold; }
.design .design__dropzone a {
    display: inline;
    color: deepskyblue; }
.design .design__dropzone i {
    color: #fff;
    font-size: 2.6em;
    padding: 18px; }
.design .design__dropzone span {
    font-weight: bold; }
.design .design__dropzone p {
    display: inline;
    color: #000;
    font-size: 12px; }
.design .design__dropzone .col-1 {
    padding: 0;
    background: #4a4a4a; }
.design .design__dropzone .col-10 {
    padding: 15px; }
.design .design__form .col-6 {
    display: block; }
.design .design__form .col-6 label {
    color: #4a4a4a;
    font-weight: bold; }
.design .design__form .col-6 input {
    margin-bottom: 15px; }
.design .design__types {
    text-align: center;
    margin: 30px 0; }
.design .design__types h2 {
    font-size: 16px; }
.design .design__types .design__types-products {
    display: inline;
    text-align: center; }
.design .design__types .design__types-products li {
    display: inline-block;
    padding-right: 30px; }
.design .design__types .design__types-products li img {
    height: 100px;
    width: 100px;
    display: flex; }

.design .design__types .design__types-products li input[type="checkbox"]:checked + label {
    background: #9654CC;
}

.design .design__types .design__types-products label {
    width: 100%; }
.design .design__types .design__types-products input {
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    display: none;
}

.design .design__agrees {
    text-align: center; }
.design .design__agrees a {
    display: inline; }
.design .design__agrees ul {
    width: 100%; }
.design .design__agrees button {
    width: 200px;
    height: 50px; }
.design .design__agrees li {
    margin-top: 15px; }

.dashboard h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px; }

.dashboard h2 {
    float: left;
    color: #5a5958;
    font-size: 18px;
    font-weight: bold; }

.dashboard h3 {
    float: right;
    color: #5a5958;
    font-size: 16px; }

.dashboard h4 {
    color: #a2a9b0;
    font-size: 15px; }

.dashboard h5 {
    font-size: 42px;
    font-weight: bold;
    color: #595959; }

.dashboard h6 {
    color: #000;
    font-size: 20px;
    font-weight: bold; }

.dashboard select {
    float: right;
    width: 50%; }

.dashboard .dashboard__title {
    display: flow-root; }

.dashboard .row {
    margin: 0; }

.dashboard .col-5 {
    background: white;
    padding: 15px; }
.dashboard .col-5 li {
    text-align: center; }
.dashboard .col-5 button {
    margin-top: 30px; }

.statistics li .active {
    color: #6d7fcc;
    border-bottom: 3px solid #6d7fcc; }

.statistics .container {
    padding: 30px;
    background: #fff;
    margin-bottom: 30px; }

.statistics .row {
    margin-bottom: 30px; }

.statistics h2 {
    color: #5a5958;
    font-size: 18px;
    font-weight: bold;
    text-align: center; }

.statistics h3 {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center; }

.statistics h4 {
    font-weight: bold; }

.statistics h5 {
    font-size: 42px;
    font-weight: bold; }

.statistics h6 {
    color: #5a5958;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px; }

.statistics span {
    color: #5a5958;
    font-size: 14px;
    text-align: center; }

.statistics a {
    color: gray !important;
    display: inline !important;}
.statistics a:hover {
    color: #000 !important; }

.statistics .credit .credit__title {
    text-align: center; }

.statistics .credit .credit__price {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 65%;
    text-align: center;
    border: 2px solid #adaeae;
    border-radius: 5px;
    padding: 10px; }

/*.statistics button {*/
    /*display: block;*/
    /*margin: 0 auto;*/
    /*background: #fff;*/
    /*color: #dc4165;*/
    /*border: 1px solid #000;*/
    /*border-radius: 100px;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*font-size: 30px; }*/
.statistics button:hover {
    background: darkgray;
    cursor: pointer; }


.tools .tool {
    background: #fff;
    color: #000;
    padding: 15px;
    margin-bottom: 15px;}
.tools .tool h2 {
    font-size: 17px;
    font-weight: bold; }
.tools .tool h3 {
    font-size: 15px;
    font-weight: bold; }
.tools .tool h4 {
    font-size: 12px;
    font-weight: bold; }
.tools .tool img {
    width: 100%;
    height: 100%; }
.tools .tool .tool-img ul {
    align-items: center;
    display: flex;
    list-style: none;
    height: 100%; }
.tools .tool .tool-img ul .img-full {
    height: 100%; }
.tools .tool .tool-img .customcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
.tools .tool .tool-img .customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }
.tools .tool .tool-img .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    border-radius: 5px; }
.tools .tool .tool-img .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
.tools .tool .tool-img .customcheck:hover input ~ .checkmark {
    background-color: #ccc; }
.tools .tool .tool-img .customcheck input:checked ~ .checkmark {
    background-color: #6d7fcc;
    border-radius: 5px; }
.tools .tool .tool-img .customcheck input:checked ~ .checkmark:after {
    display: block; }
.tools .tool .tool-img .customcheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
.tools .tool .tool-about li {
    background: #f1f1f1;
    font-size: 10px;
    padding: 2px; }
.tools .tool .tool-products img {
    border: 1px solid #000;
    width: 50px;
    height: 50px; }
.tools .tool .tool-products ul {
    display: block;
    margin: 0; }
.tools .tool .tool-products ul li {
    display: inline-flex; }
.tools .tool .tool-sales {
    text-align: center; }
.tools .tool .tool-status {
    font-size: 13px; }
.tools .tool .tool-status .text-accept {
    color: limegreen;
    font-weight: bold; }
.tools .tool .tool-status .text-not-accept {
    color: red;
    font-weight: bold; }
.tools .tool .tool-status .tool-link {
    font-size: 20px; }

.thead-dark {
    background: #6d7fcc;
    color: #ffffff;
}
