<?xml version="1.0"?>
<config>
    <modules>
        <Figures_Customer>
            <version>0.1.0</version>
        </Figures_Customer>
    </modules>
    <global>
        <helpers>
            <figures_customer>
                <class>Figures_Customer_Helper</class>
            </figures_customer>
        </helpers>
        <models>
            <figures_customer>
                <class>Figures_Customer_Model</class>
            </figures_customer>
        </models>
    </global>
    <frontend>
        <routers>
            <customer>
                <use>standard</use>
                <args>
                    <modules>
                        <Figures_Customer before="Mage_Customer">Figures_Customer</Figures_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>