<?xml version="1.0"?>
<config>
    <modules>
        <Figures_Cms>
            <version>0.0.4</version>
        </Figures_Cms>
    </modules>
    <global>
        <blocks>
            <figures_cms>
                <class>Figures_Cms_Block</class>
            </figures_cms>
        </blocks>
        <helpers>
            <figures_cms>
                <class>Figures_Cms_Helper</class>
            </figures_cms>
        </helpers>
        <models>
            <figures_cms>
                <class>Figures_Cms_Model</class>
                <resourceModel>figures_cms_mysql4</resourceModel>
            </figures_cms>
        </models>
        <resources>
            <figures_cms_setup>
                <setup>
                    <module>Figures_Cms</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </figures_cms_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <figures_cms>
                    <file>figures/custom_cms.xml</file>
                </figures_cms>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Figures_Cms before="Mage_Adminhtml">Figures_Cms_Adminhtml</Figures_Cms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>