<?xml version="1.0"?>
<config>
    <modules>
        <Figures_Api>
            <version>0.0.4</version>
        </Figures_Api>
    </modules>
    <global>
        <blocks>
            <figures_api>
                <class>Figures_Api_Block</class>
            </figures_api>
        </blocks>
        <helpers>
            <figures_api>
                <class>Figures_Api_Helper</class>
            </figures_api>
        </helpers>
        <models>
            <figures_api>
                <class>Figures_Api_Model</class>
                <resourceModel>figures_api_mysql4</resourceModel>
            </figures_api>
        </models>
        <resources>
            <figures_api_setup>
                <setup>
                    <module>Figures_Api</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </figures_api_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <figures_api>
                    <file>figures/api.xml</file>
                </figures_api>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Figures_Api before="Mage_Adminhtml">Figures_Api_Adminhtml</Figures_Api>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>