<?xml version="1.0"?>
<config>
    <modules>
        <Figures_Catalog>
            <version>0.0.1</version>
        </Figures_Catalog>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view>Figures_Catalog_Block_Product_View</product_view>
                    <product_list>Figures_Catalog_Block_Product_List</product_list>
                </rewrite>
            </catalog>
            <figures_catalog>
                <class>Figures_Catalog_Block</class>
            </figures_catalog>
        </blocks>
        <helpers>
            <figures_catalog>
                <class>Figures_Catalog_Helper</class>
            </figures_catalog>
        </helpers>
        <models>
            <figures_catalog>
                <class>Figures_Catalog_Model</class>
            </figures_catalog>
        </models>
    </global>
    <frontend>
        <routers>
            <catalog>
                <use>standard</use>
                <args>
                    <modules>
                        <Figures_Catalog before="Mage_Customer">Figures_Catalog</Figures_Catalog>
                    </modules>
                </args>
            </catalog>
            <figures_catalog>
                <use>standard</use>
                <args>
                    <frontName>figures_catalog</frontName>
                    <module>Figures_Catalog</module>
                </args>
            </figures_catalog>
        </routers>
        <layout>
            <updates>
                <figures_catalog>
                    <file>figures_catalog.xml</file>
                </figures_catalog>
            </updates>
        </layout>
    </frontend>
</config>